<module>
	<rawname>googlevoice</rawname>
	<name>Google Voice</name>
	<version>0.1.0</version>
	<publisher>Marcus Brown</publisher>
	<license>GPLv2+</license>
	<type>setup</type>
	<category>Third Party Addon</category>
	<description>
		Manage Google Voice accounts as trunks.
	</description>
	<changelog>
		*0.1.0* make the module work for FreePBX 2.9
		*0.0.9* changed trunk name to the phonenum
		*0.0.8*	fixed routing/reload, delete routes, and overwriting trunks(?)
		*0.0.7* added donation blurb
		*0.0.6* improved outbound route
		*0.0.5* fixed path on delGV action, and corrected trunk dial string
		*0.0.4* added GPL declarations.
		*0.0.3* trunk and route options added.
		*0.0.2* TOS and jabber (jingle?) reload added.
		*0.0.1* Creation.
	</changelog>
	<depends>
		<engine>asterisk 1.8</engine>
		<module>core</module>
	</depends>
	<menuitems>
		<googlevoice>Google Voice</googlevoice>
	</menuitems>
	<location>contributed_modules/release/googlevoice-0.1.0.tgz</location>
	<md5sum>c1adf8a74c07a48d6fdc399eac08ddac</md5sum>
</module>
